<main>
    <div class="services-title">
        <h2>SIMPLES DE HOSPEDAR<br/><strong>FÁCIL DE SE APAIXONAR</strong></h2>
        <span>Aqui na <strong>Love Cats</strong> você tem vários motivos para deixar seu companheiro conosco:</span>
    </div>
    <section class="servicos">
        <aside>
            <div>
                <h3>ARRANHADOR</h3>
                <span>Qual gato não gosta de dar uma boa arranhada?</span>
                <span>No hotel <strong>Cat Love</strong>, a distração é garantida com um arranhador gigante.</span>
                <span>Além disso, temos caixas especialmente criadas para a arranhadura espalhadas por todo o
                    espaço.</span>
            </div>
            <div>
                <img [src]="arranhador" alt="imagem de playground dedicado a gatos">
            </div>
        </aside>
    </section>
    <section class="servicos">
        <aside>
            <div>
                <img [src]="natureza" alt="imagem de playground dedicado a gatos">
            </div>
            <div>
                <h3>NATUREZA</h3>
                <span>O bem-estar de seu gatinho é coisa séria!</span>
                <span>E aqui no hotel <strong>Love Cat</strong> seu pet contará com luz solar, ventilação natural e água corrente.</span>
                <span>Tudo para que se sinta bem durante toda a estádia.</span>
                <span>Ah, e não se preocupe, telas garante a segurança contra fugas</span>
            </div>

        </aside>
    </section>
    <section class="servicos">
        <aside>
            
            <div>
                <h3>DORMITÓRIOS</h3>
                <span>Super confortáveis para que seu bichano descanse depois de um dia cheio de lazer e recreação...</span>
                <span>O hotel <strong>Cat Love</strong> conta dormitórios com e sem grade de proteção, além de redes super confortáveis para o momento da sonequinha.</span>
                
            </div>
            <div>
                <img [src]="dormitorios" alt="imagem de playground dedicado a gatos">
            </div>
        </aside>
    </section>

    <button mat-button color="accent" routerLink="/agenda">Agende sua hospedagem</button>
</main>