main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    button{
        all: unset;
        cursor: pointer;
        width: 30rem;
        height: 5rem;
        background-color: #ff4081;
        text-align: center;
        margin-bottom: 3rem;
        border-radius: 1rem;
        font-size: 1.8rem;
        color: white;
        transition: 0.4s;

        &:hover {
            transform: scale(1.05);
            box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
        }


    }
}
.services-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    h2{
        font-size: 1.9rem;
        width: 425px;
        color: #0DB5BC;
        strong {
            color: #ff4081
        };
    }

    span{
        font-size: 1.5rem;
        color: #ff4081;
        padding-top: 2rem;
    }
}

.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem; 
    padding: 2rem;

    h2 {
        font-size: 1.9rem;
        color: #ff4081;
        padding-top: 3rem;
    }

    aside {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;

        div {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 40%;

            h3 {
                color: #ff4081;
                text-decoration: underline;
                font-size: 1.5rem;
                font-weight: 700;
            }

            span{
                font-size: 1rem;

                strong {
                    color: #ff4081;
                }
            }
        }
    }


}