<main>
    <section class="hero">
        <img [src]="gatoViagem" alt="">
        <h2>Quando você precisar
            sair, passear ou viajar,            
            <strong>e seu gato não quiser ir,</strong>            
            deixa com a gente!</h2>
    </section>
    <section class="playground">
        <h2>O ESPAÇO PERFEITO PARA O SEU BICHANO</h2>
        <aside>
        <div>
            <h3>PLAYGROUND</h3>
            <span>Gatos adoram brincar e nós da <strong>Love Cat</strong> também!</span>
            <span>Nosso espaço conta com um Playground pensado para a diversão dos nossos hóspedes.</span>
            <span>Uma TV de 40 polegadas faz a animação com imagens e sons que os gatinhos amam.</span>
            <span>Bolinhas, chocalhos, brinquedos e diversos outros itens compõem o espaço que os gatos visitam primeiro em sua estádia.</span>
        </div>
        <div>
            <img [src]="playground" alt="imagem de playground dedicado a gatos">
        </div>
    </aside>
    </section>
</main>
